.navbar-inner {
  padding: 20px;
}

.navbar{
  .brand {
    background: transparent url(../img/jsp-text.png) no-repeat left center;
    content: '';
    text-indent: -99999px;
    width: 100px;
    background-size: auto 100%;
    margin-right: 20px;
  }
  .nav > .active > a,
  .nav > .active > a:hover,
  .nav > .active > a:focus {
    .box-shadow(inset 0 1px 10px rgba(0,0,0,.5));
  }
}