@jspBlueDark: #002f58;
@jspBlue: #005090;
@jspOrange: #fab600;
@jspGray: #cfcfcf;

// Inverted navbar
@navbarInverseBackground:                #8d050c;
@navbarInverseBackgroundHighlight:       #5e0a03;
@navbarInverseBorder:                    #fcbd00;

@navbarInverseText:                      @jspOrange;
@navbarInverseLinkColor:                 @jspOrange;